
span.product-remove-caption {
 position: relative;
 left: 5px;
 top: -3px;
 font-weight: 400;
}

[data-image='preview'] {
 display: block;
}

* > [data-image='preview'], a.delete {
 margin: 0 auto;
}

div.btn-container {
 margin-bottom : 16px;
}

#file-input-container {
 display: none;
}
